/*****************************************************/
/***********PHOTOGRAPHER'S PAGE************/
/***************************************************/

/*****************************************************/
/***********RESET************/
/***************************************************/
ul {
    list-style-type: none;
}


/*****************************************************/
/***********HEADER************/
/***************************************************/

.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.photograph-header>* {
    margin: 0 auto;
}

.photograph-header-info {
    display: flex;
    flex-direction: column;
}

.photograph-header-info>* {
    margin: .6rem;
}

.photograph-header-title {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.photographer-header-city {
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
}

.photographer-header-tagline {
    font-size: 18px;
    font-weight: 400;
    color: #393939;
}

.photograph-header img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/*****************************************************/
/***********SECTION MEDIA************/
/***************************************************/
#section-media {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;


}

.gallery-wrapper {
    width: 90%;
    justify-self: center;
}

.gallery-item:hover{
    cursor: pointer;
}

.card-image {
    width: 100%;
    min-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

}

.gallery-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.gallery-footer>* {
    line-height: 31.25px;
}

.gallery-footer-title {
    font-size: 1.5em;
}

.gallery-footer-like {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

.heart {
    margin-left: 5px;
}


/*****************************************************/
/***********MODAL************/
/***************************************************/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);

    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**************** Modal HEader ***************************/
.header-modal {
    display: flex;
    justify-content: space-between;
}

#contactez-moi {
    font-size: 4em;
    margin: 0px;
}

.close {
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    content: " ";
    height: 67px;
    width: 6px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
/*****************Modal background***********************/

.no-scroll{
    overflow: hidden;
}
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: auto;
    padding: 35px 40px 15px 45px;
    width: 669px;
    height: auto;
    background: #DB8876;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 7px 4px 1px rgba(0, 0, 0, 0.2);
}

/**************All Inputs*************************/
label,
.text-label {
    font-size: 2.25em;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #312E2E;
}

.text-control,
.text-msg {
    margin: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    border: 0.8px solid #ccc;
    outline: none;
}

.text-msg {
    min-width: 100%;
    max-width: 100%;
    padding-top: 15px;
    height: 170px;
}

.text-control:focus,
.text-msg:focus {
    border: 3px solid #901C1C;
}

.formData {
    margin-top: 20px;
}

.formData[data-error]::after {
    content: attr(data-error);
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #911C1C;
}

.contact_button,
.contact_button-open {
    background: #901C1C;
    display: block;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 1.563rem;
    font-weight: 500;
    line-height: 32.55px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 0;
}


/*****************************************************/
/***********LIGHTBOX************/
/***************************************************/
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__media {
    position: relative;
    width: 70%;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/icons/arrow.svg) center center / 16px 28px no-repeat;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;

}

.lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox__close {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../assets/icons/close.svg) center center / 100% 100% no-repeat transparent;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 12;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox__picture,
.lightbox__video {
    max-width: 800px;
    max-height: 880px;
    animation: lightboxIn .5s;
}

.lightbox__media__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox__content__title {
    align-self: start;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 31.25px;
    color: #901C1C;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*****************************************************/
/***********FOOTER TOTAL LIKERS ANS PRICE************/
/***************************************************/
#sticky-footer {
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    width: 376px;
    justify-content: space-around;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    align-items: center;
}

#sticky-footer h3{
    font-size: 1.5em;
}

.sticky-footer-likes {
    display: flex;
    align-items: center;
}

.sticky-footer-likes i{
    margin-left: 5px;
}

/* Filter Form */
.filter-form__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 2.4rem;
    margin-inline: 8.2rem;
}

.filter-form .filter-form__label {
   font-size: 18px;
   font-weight: 600;
   color: #000;
   margin-right: 1rem;
}

.filter-form__wrapper #filter-form__dropdown {
    padding: 1rem 4rem 1rem 1.5rem;
    background-color: #901C1C;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: 0;
}

.filter-form {
    position: relative;
}

.filter-form__arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #901C1C;
    border-radius: 5px;
    width: 2rem;
    height: 100%;
    pointer-events: none;
}

.filter-form__arrow::before,
.filter-form__arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.filter-form__arrow::before{    
    border-bottom: 5px solid #fff;
    top: 40%;
}

.filter-form__arrow::after {
    border-top: 5px solid #fff;
    top: 60%;
}